@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
}

.header {
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
    font-size: 70px;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
}

.slider {
    flex: 1;
    overflow: hidden;
}

.slider-width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider-item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.slider-controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-control {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.slider-control:first-child {
    margin-left: 20px;
}

.slider-control:last-child {
    margin-right: 20px;
}

.slider-control i {
    color: #FFF;
    font-size: 45px;
    margin-top: 2px;
}

.slider-control .fa-angle-left {
    margin-left: 10px;
}

.slider-control .fa-angle-right {
    margin-left: 15px;
}